BOT_TOKEN=your_telegram_bot_token_here
MODE=polling
PORT=3000
# Untuk mode webhook, isi domain publik (harus https), path opsional dan secret
# WEBHOOK_DOMAIN=https://domain-anda.com
# WEBHOOK_PATH=/telegraf/your_secret_path
# WEBHOOK_SECRET=your_secret_here
